<!-- include header -->
<%- include('../include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
  <!-- include dashboard -->
  <%- include('../include/_dashboard') %>
  <!-- /include dashboard -->
  <div class="container">
    <div class="container">
      <form action="/dashboard/add_bookmark" method="POST" class="col">
        <div>
          <h4>Add Bookmark</h4>

          <div class="input-field">
            <input type="text" id="title" name="title" />
            <label for="title">Title</label>
          </div>

          <div class="input-field">
            <input type="text" id="link" name="link" />
            <label for="link">Link</label>
          </div>

          <div class="input-field">
            <input type="text" id="category" name="category" />
            <label for="category">Category</label>
          </div>
          <div>
            <input type="submit" value="Add" class="btn black m-2" />
            <a href="/dashboard" class="btn red lighten-1 m-2">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('../include/_footer') %>
<!-- /include footer -->
