<div id="devGarageModal" class="modal">
  <div class="modal-content">
    <div>
      <h3>Logger</h3>

      <li>
        It can be used to log out your day just like you write your daily diary.
      </li>
      <li>In devGarage Logger you can add update and delete your logs.</li>
      <li>
        With the cool CkEditor you can also bold and strike through the words.
      </li>
    </div>
    <div>
      <h3>Todo</h3>

      <li>In Todo you can create your daily todo-list.</li>
      <li>In devGarage Todo you can add update and delete your todos</li>
    </div>
    <div>
      <h3>Pomodoro</h3>

      <li>In Pomodoro you can do your work using Pomodoro Technique Clock.</li>
      <li>
        In devGarage Pomodoro you can customize work and break time, on top of
        that it also give sound when work or break time completed.
      </li>
      <li>To set the customize time use reset after choosing the time.</li>
      <li>
        To use Pomodoro you have to be present on that page otherwise the clock
        will get stopped
      </li>
    </div>
    <div>
      <h3>Maintainer</h3>

      <li>
        In Maintainer you can either track your attendance details or your work
        schedules.
      </li>
      <li>
        In devGarage Maintainer you can add update and delete your maitainers
      </li>
      <li>
        In devGarage Maintainer you can see your attendace percentage and can
        modify it.
      </li>
      <li>
        It also shows percentage in graphical manner for better productivity.
      </li>
    </div>
    <div>
      <h3>CodeFeed</h3>
      <li>Will be updated soon.</li>
    </div>
  </div>
</div>
