<div class="log-add">
  <h1 class="log-h1">Add Log</h1>
  <div class="row">
    <form action="/dashboard/logs" method="POST" class="col s12">
      <div class="row">
        <div class="input-field">
          <h5>Log your day:</h5>
          <textarea id="body" name="body" class="text-area"></textarea>
        </div>
      </div>

      <div class="row">
        <input type="submit" value="Log" class="btn black" />
      </div>
    </form>
  </div>
</div>
