<div id="demo-modal" class="modal">
  <form action="/dashboard/maintainer" method="POST" class="col">
    <div class="modal-content">
      <h4>Add Subject</h4>

      <div class="input-field">
        <input type="text" id="title" name="title" />
        <label for="title">Title</label>
      </div>

      <div class="input-field">
        <input type="number" id="presents" name="presents" />
        <label for="presents">Initial Presents</label>
      </div>

      <div class="input-field">
        <input type="number" id="totalClasses" name="totalClasses" />
        <label for="totalClasses">Total Classes</label>
      </div>
      <div>
        <input type="submit" value="Add" class="btn black" />
        <a href="#!" class="modal-action modal-close btn red lighten-1"
          >Cancel</a
        >
      </div>
    </div>
  </form>
</div>
