<h2>To-Do List</h2>
<form action="/dashboard/todos" method="POST" class="todo-header">
  <div class="todo-add">
    <input type="text" name="content" class="todo-add-text" />
    <button type="submit" class="todo-add-button">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</form>
