<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
  <!-- include dashboard -->
  <%- include('include/_dashboard') %>
  <!-- /include dashboard -->
  <h1>Will be updated soon.</h1>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
