<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
  <!-- include dashboard -->
  <%- include('include/_dashboard') %>
  <!-- /include dashboard -->
  <!-- include pomodoro_show -->
  <%- include('components/pomodoro_show') %>
  <!-- /include pomodoro_show -->
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
