<div>
  <nav class="grey darken-3">
    <div class="nav-wrapper container">
      <div class="right right-dashboard">
        <div id="MyClockDisplay" class="clock" onload="showTime()"></div>

        <img
          src="<%=image%>"
          alt="<%=name%>"
          class="profile-image right brand-logo"
        />
      </div>

      <a
        href="#"
        data-target="mobile-demo"
        class="sidenav-trigger show-on-large"
        ><i class="fas fa-bars"></i
      ></a>
      <ul class="sidenav" id="mobile-demo">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/dashboard/logs">Logger</a></li>
        <li><a href="/dashboard/todos">Todo</a></li>
        <li><a href="/dashboard/pomodoro">Pomodoro</a></li>
        <li><a href="/dashboard/maintainer">Maintainer</a></li>
        <li><a href="/dashboard/codefeed">Codefeed</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large blue">
      <i class="large material-icons">help</i>
    </a>
    <ul>
      <li>
        <a class="btn-large btn-floating toggler">
          <dark-mode-toggle></dark-mode-toggle>
        </a>
      </li>
      <li>
        <a
          href="#devGarageModal"
          class="modal-trigger btn-floating btn-large red"
          ><i class="material-icons">info</i> <i class="fa fa-info-circle"></i
        ></a>
      </li>
    </ul>
  </div>
  <!-- include devGarage_info -->
  <%- include('../components/devGarage_info') %>
  <!-- /include devGarage_info -->
</div>
