<!-- include header -->
<%- include('../include/_header') %>
<!-- /include header -->
<h1>404 Not found</h1>

<a href="/dashboard" class="btn">Go to dashboard</a>

<!-- include footer -->
<%- include('../include/_footer') %>
<!-- /include footer -->
