<!-- include header -->
<%- include('../include/_header') %>
<!-- /include header -->
<h1>Server Error</h1>

<a href="/dashboard" class="btn">Go to dashboard</a>

<!-- include footer -->
<%- include('../include/_footer') %>
<!-- /include footer -->
