<div class="container">
  <div class="login">    
    <div class="card">
      <div class="card-image">
        <img src="img/devtools.svg" alt="devtools" class="devtools"></img>        
      </div>
      <div class="card-content center">    
          <h1>DEV GARAGE</h1>
          <p>One stop destination for all developers</p>                
          <button type="button" class="btn red btn-large loginBtn m-3">
              <a href="/auth/google">
                <i class="fab fa-google left"></i>Google
              </a>
          </button>
      </div>
    </div>
  </div>
</div>