<div>
  <div>
    <footer class="footer col-lg-12">
      <div class="container">
        <div class="row">
          <div class="col-md-8 m-b-30">
            <div class="footer-title m-t-5 m-b-20 p-b-8">About DevGarage</div>
            <p class="white-text" style="text-align: left">
              DevGarage is a developer's dashboard built with the halp of
              NodeJs, ExpressJs, MongoDb, EJS, MaterializeCSS and authenticate
              with the help of GoogleOAuth. It provides Todolist, Logger,
              Pomodoro clock, Maintainer, Work graph and many more.Try this out.
              <br />
              Developed by
              <small
                >-
                <a href="https://github.com/harsh0620" target="_blank"
                  >Harsh Chandravanshi</a
                ></small
              >
            </p>
          </div>

          <div class="col-md-4 m-b-30">
            <div class="footer-title m-t-5 m-b-20 p-b-8">Quick Links</div>
            <div class="footer-links">
              <a href="/login"> Login </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        Copyright © 2021, All Rights Reserved
        <br />
        <small
          >Developed with ♥ by
          <a href="https://github.com/harsh0620" target="_blank"
            >HC(harsh0620)</a
          ></small
        >
      </div>
    </footer>
  </div>
</div>
