<header id="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">DevGarage</a>

      <div class="d-flex ml-auto mb-3"></div>
    </div>
  </nav>
</header>
