<div class="heroColor">
  <div class="heroMain container">
    <div class="row">
      <div class="col-lg-6 mt-5">
        <div class="header">DEV GARAGE</div>
        <div class="text">One stop destination for all developers</div>
      </div>

      <div class="col-lg-6">
        <img src="img/homehero.svg" alt="hero" class="hero" />
      </div>
    </div>
    <button class="login-btn pink">
      <a href="/login"> Login </a>
    </button>
  </div>
</div>
