<div>
    <div class="storycolor1">
  <div class="storyscreen ">
   <div class="row">
       <div class="col-lg-6 "> <div class="story"> <img src="img/next_tasks.svg" alt="story" class="story"></img></div> </div>
       <div class="col-lg-6 ">
           <div class="storydata1">
           <div class="topic ">  Todo List</div>
       <p class="para">Prioritize your day with the help of Todo List</p>
     
       </div></div>
       </div>
       </div>
       </div>

       <div class="storycolor2">
  <div class="storyscreen">
   <div class="row">
   <div class="col-lg-6 ">
           <div class="storydata">
           <div class="topic ">   Daily Logger</div>
       <p class="para">Log your every day and keep the track of your present past and future.</p>
       
       </div></div>
       <div class="col-lg-6 "> <div class="story"> <img src="img/log.svg" alt="story1" class="story"></img></div> </div>
      
       </div>
       </div>
       </div>


<div class="storycolor1">
       <div class="storyscreen">
   <div class="row">
       <div class="col-lg-6 "><img src="img/pomodoro.svg" alt="story" class="story"></img> </div>
       <div class="col-lg-6">
       <div class="storydata1">
           <div class="topic"> Pomodoro Clock</div>
       <p class="para">Use Pomodoro Clock based on Pomodoro Technique by Francesco Cirillo to resist all self-interruptions and re-train your brains to focus.</p>
      
     </div>
       </div>
       </div>
       </div>
       </div>
       <div class="storycolor2">
        <div class="storyscreen">
         <div class="row">
         <div class="col-lg-6 ">
                 <div class="storydata">
                 <div class="topic ">   Maintainer</div>
             <p class="para">Maintain you work day count,track your hobby,track you attendance and many more.</p>
             
             </div></div>
             <div class="col-lg-6 "> <div class="story"> <img src="img/maintainer.svg" alt="story1" class="story"></img></div> </div>
            
             </div>
             </div>
             </div>

             <div class="storycolor1">
                <div class="storyscreen">
            <div class="row">
                <div class="col-lg-6 "><img src="img/codefeed.svg" alt="story" class="story"></img> </div>
                <div class="col-lg-6">
                <div class="storydata1">
                    <div class="topic">CodeFeed</div>
                <p class="para">Feeds like social-media but on codes of different codes of algorithm and data structure so that one can revise them on daily basis.(Work in Progress...)</p>
               
              </div>
                </div>
                </div>
                </div>
                </div>

</div>